<h2>Cadastrar Livro</h2>

<form action="/register/save" method="POST">
  <div class="divs-inputs-labels">
    <label for="title">Título:</label>
    <input type="text" name="title" placeholder="Digite o título" id="title">
  </div>
  <div class="divs-inputs-labels">
    <label for="pageqty">Número de Páginas:</label>
    <input type="number" name="pageqty" placeholder="Quantas páginas o livro possui?" id="pageqty">
  </div>

  <button type="submit">Cadastrar</button>
</form>